<ol class="breadcrumb">
  <li><a href="/contacts/">All Contacts</a></li>
  <li><%= link_to "#{@contact.first_name}", "/contacts/#{@contact.id}" %></li>
  <li class="active">Edit</li>
</ol>
<h1>Edit this contact:</h1>
<%= form_tag "/contacts/#{@contact.id}/", method: :patch do %>
<div>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name, @contact.first_name %>
</div>
<div>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name, @contact.last_name %>
</div>
<div>
  <%= label_tag :phone %>
  <%= text_field_tag :phone, @contact.phone %>
</div>
<div>
  <%= label_tag :email %>
  <%= text_field_tag :email, @contact.email %>
</div>
<button type="submit">Update</button>
<% end %>

<p><%= link_to "Delete this contact", "/contacts/#{@contact.id}", method: :delete %></p>

<p><%= link_to "Back to contact page", "/contacts/#{@contact.id}" %></p>