<h1>Name: <%= @contact.first_name %> <%= @contact.last_name %></h1>
<h2>Phone: <%= @contact.phone %></h2>
<h2>Email: <%= @contact.email %></h2>
<h3><a href="/contacts/<%=@contact.id%>/edit">Edit this contact</a></h3>
